* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #121223;
}
.mainimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
}
.sign {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
}
input {
    display: block;
    margin: auto;
    padding-top: 3vh;
    background-color: #0a0a15;
    border: none;
    width: 15vw;
}
.input1 {
    margin-top: 4vh;
}
.input2 {
    margin-top: 3vh;
    margin-bottom: 2vh;
}
#iconz {
    color: #686870;
    position: absolute;
    left: 43.5vw;
    top: 32.5vh;
}
.input1::placeholder {
    position: relative;
    bottom: 2vh;
    font-size: 0.8vw;
    font-family: Arial, Helvetica, sans-serif;
}
.input2::placeholder {
    position: relative;
    bottom: 2vh;
    font-size: 0.8vw;
    font-family: Arial, Helvetica, sans-serif;
}
input[type="text"], input[type="password"] {
    padding-top: 12px;
    padding-bottom: 8px;
    line-height: 1.5;
    font-size: 16px;
    box-sizing: border-box;
    text-align: center;
    color: white;
  }
button{
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #0692ec;
    border-radius: 0.2vw;
    padding-left: 5.5vw;
    padding-right: 5.5vw;
    padding-bottom: 1vh;
    padding-top: 1vh;
    display: block;
    margin: auto;
}
button:hover {
    cursor: pointer;
  }